body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('image/bluecar.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


.booking-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: fixed;
    width: 300px;
    text-align: left; /* Align form to the left */
    margin-left: 20px; /* Add some margin to separate the form from the navbar */
}

.booking-form h2 {
    color: #333;
}

.booking-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

.booking-form input[type="submit"] {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}